*{
    margin: 0;
    padding: 0;
}

#clockcontainer{
    position: relative;
    /* border: 2px solid red; */
    height: 40vw;
    width: 40vw;
    background: url(clock.jpeg) no-repeat;
    background-size: 100%;
    margin: auto;
}
#hour,#min, #sec{
 position: absolute;
    background-color: black;
    border-radius: 10px;
    opacity: 0.8;
    transform-origin: bottom;

}
#hour{
    height: 21%;
    width: 1.5%;
    top: 27%;
    left: 48.5%;
    /* display: none; */
}
#min{
    height: 27%;
    width: 1.2%;
    top: 21%;
    left: 48.5%;
    /* display: none; */
}
#sec{
    height: 35%;
    width: 1.0%;
    top: 13%;
    left: 48.7%;
    /* display: none; */
}